*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
.header img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    position: fixed;
    background-color: white;
}
.header_mid{
    display: flex;
    border: 1px rgb(144, 140, 140) solid;
 }
#Search{
    width: 500px;
    height: 31px;
    border: none;
}
button{
    border: none;
}
.header_left{
    align-items: center;
    display: flex;
    padding: 0 9px;
}
.header{
    width: 100%;
    height: 10vh;
    border: solid white ;
    box-shadow: 0 0  1px black;
}
.section{
height: auto;
width: 200px;
padding: 10px;
position: fixed;
margin-top: 10vh;
}
.main hr{
    width: 200px
}
.sidebar{
    display: flex;
    align-items: center;
    padding: 15px 25px;
}

.sidebar span{
    margin-left: 10px;
    font-size: 14px;
    display: inline-block;
    
}
.material-symbols-outlined{
    color: rgb(96, 96, 96);
}
.section hr{
    margin-bottom: 30px;
}
.main{
    display: flex;
}

.content h1{
    margin-top: 12vh;
    font-size: 20px;
    margin-left: 200px;

}
#img1{
    width: 300px;
    height: 160px;
}
#img2{
    width: 40px;
    height: 40px;
}
.title{
margin-left: 10px;
width: 250px;
}
.heading{
    display: flex;
}
.main_video{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 200px;
    
    
}
.video{
    padding: 10px;
    flex-wrap: wrap;
}
content{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
    padding: 15px 15px;
    border-top: 1px solid #ddd;
}
.title h3{
    width: 260px;
}
.title a{
    font-size: 13px;
    text-decoration: none;
}
a{
    cursor: pointer;
}